:root{
    --main-font:"Arad";
    --radius-small:8px;
    --radius-medium:13px;
    --radius-large:60%;
}
@font-face
{
    font-family: "Arad";
    src: url(./font/AradVF.woff2)format("woff2");
}
*{
    box-sizing: border-box;
}
body
{
    font-family: "Arad";
    direction: rtl;
    font-size: xx-large;
    margin: 3rem;
}
.header{
    width: 100%;
}
.logo
{
    margin-right: -2rem;
    width:120%;
}
.search-icon
{
    width: 20%;
    height: 10%;
    top:10rem;
    right:20rem;
    position: absolute;
}
.search-box
{
    background-color: rgb(199, 219, 235);
    top:10rem;
    right:25rem;
    position: absolute;
    width:110%;
    height: 60px;
    border-radius: var(--radius-small);
}
.profile
{
    width: 30%;
    height: 40%;
    float: left;
    margin-left:-40rem ;
    margin-top:-17rem ;
}
.bag-shop
{
    width: 30%;
    height: 40%;
    float: left;
    margin-left: -47rem;
    margin-top: -17rem;

}
.main-title{
    white-space: nowrap;
    margin-right: 7rem;

}
.image-header
{
    width: 1000px;
    height: 250px;
    object-fit: cover;
    margin-right: -1rem;
    border-radius: var(--radius-medium);
}
.navbar
{
    width: 100%;
    height: 130px;
    display: flex;
}
.navbar-group
{
    width: 25%;
    top: 2rem;
    position: relative;
}
.navbar:hover
{
    box-shadow: 2px 5px 30px rgba(104, 102, 102, 0.799);
}
.navbar-link
{
    text-decoration: none;
    top:-2rem;
    right: 3.5rem;
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
    white-space: nowrap;
}
.sections
{
    width:100%;
    height:600px;
    display: grid;
    grid-template-columns: repeat(2,5fr);
    margin-bottom: 100rem;
}
.title
{
    font-size:45px;
    top: 6rem; 
    right: 1.5rem;
    position: relative;
    white-space: nowrap;
}
.left-text
{
    font-size: 35px;
    top:1rem;
    right:50rem;
    position: relative;
}
.product
{
    width:80%;
    height: 650px;
    border: 1px solid gray;
    border-radius: var(--radius-medium);
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin-right: -0.9rem;
    margin-left: 13.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
.product:hover
{
    box-shadow: 10px 10px 10px rgba(121, 119, 119, 0.799);
}
.content-picture
{
    width:85%;
    height:250px;
    object-fit: contain;
    margin-top:0;
    margin-bottom: 1rem;
    border-radius: var(--radius-medium);
}
.book-title{
    
    text-align:center;
    line-height: 1.6;
}
.price{
    margin-top: 10px;
    margin-left: 4rem;
    margin-right:3.3rem;
    white-space: nowrap;
}
.add-to-list
{
    font-family: "Arad";
    font-size: large;
    margin-top: auto;
    width: 70%;
    height: 70px;
    border-radius: var(--radius-medium);
}
.add-to-list:hover
{
    background-color: green;
    width: 70%;
    margin-right:1rem;
}
.section2{
    width:100%;
    height:600px;
    display: grid;
    grid-template-columns: repeat(3,5fr);
    margin-bottom: 50rem;
}
.left-text2
    {
        font-size: larger;
        /*top:1rem;
        right:53rem;
        position: relative;*/
        margin-right: 47rem;
        white-space: nowrap;
    }
.writers{
    width:100%;
    height: 650px;
    /*box-sizing: border-box;*/
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap:3rem;
    margin-right: -0.3rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.content-picture2{
    width:100%;
    height:280px;
    object-fit: contain;
    margin-top:1rem;
    border-radius: var(--radius-large);
}
.this-writer{
    white-space: nowrap;
    text-decoration: none;
    margin-top: 1rem;
}
.this-writer:hover{
    width: 75%;
    height: 5%;
    top: 1rem;
    background-color: lightgoldenrodyellow;
}
.cta
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 10rem;
    margin-bottom: 10rem;  
    
}
.cta-title{
    white-space: nowrap;
    margin-top: -3rem;
}
.cta-title1
{
    position: absolute;
    top:490rem;
    right: 21rem;
    color: blue;
}
.cta-title2
{
    position: absolute;
    top: 490rem;
    right: 40rem;
    color: blue;
}
.main-cta
{
    width: 80%;
    height: 500px;
    border: 1px solid gray;
    border-radius: var(--radius-small);
    padding: 2rem;
    margin-right: 4rem;
    margin-top: 5rem;
}
.main-cta2
{
    width: 80%;
    height: 500px;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 2rem;
    margin-right: -16rem;
    margin-top: 5rem;
}
.buy-Subscription1{
    text-decoration: none;
    position: relative;
    top: 7rem;
    right: 0.2rem;
    color:green;
    white-space: nowrap;
}
.buy-Subscription2{
    text-decoration: none;
    position: relative;
    top: 7rem;
    right: 0.2rem;
    color:green;
    white-space: nowrap;
}
.first-row
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.footer-item
{
    width: 300px;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image-footer
{
    width: 50%;
    height: 200px;
}
.second-row
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.second-row-text
{
    text-decoration: none; 
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 25rem;
    margin-right: 1.5rem;
    white-space: nowrap;
    text-align: right;
}
.line{
    width: 750px;
    margin-right: 7rem;
}
.footer-title{
    margin-right: 24rem;
    white-space: nowrap;
}
.third-row
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
     gap: 7rem;
     margin-right: 7rem;
}
.contact{
        width: 100px;
        
    }



/* ...............................this is for tablet mode................................*/


@media(min-width:768px)
{
    @font-face
    {
        font-family: "Arad";
        src: url(./font/AradVF.woff2)format("woff2");
    }
    body
    {
        font-family: "Arad";
        direction: rtl;
        font-size: xx-large;
        margin: 3rem;
    }
    .header{
        /*background-color: #D8C0B0;*/
        width: 100%;
    }
    .logo
    {
        width:30%;
    }
    .search-icon
    {
        width: 10%;
        height: 10%;
        top:10rem;
        right:21rem;
        position: absolute;
    }
    .search-box
    {
        background-color: rgb(199, 219, 235);
        top:10rem;
        right:26rem;
        position: absolute;
        width:90%;
        height: 70px;
        border-radius: var(--radius-small);
    }
    /*.search-box:hover
    {
        width: 125vw;
        transition-duration: 1s;
        transition-timing-function: linear;
    }*/
    .profile
    {
        width: 10%;
        height: 10%;
        float: left;
        top: 8rem;
        left:7rem;
        position: relative;
    }
    .bag-shop
    {
        width: 10%;
        height: 10%;
        float: left;
        top: 8rem;
        left:1rem;
        position: relative;
    }
    .main-title{
    white-space: nowrap;
    margin-right: 21rem;
}
    .image-header
    {
        width: 1390px;
        height: 250px;
        object-fit: cover;
        margin-right: 2rem;
        border-radius: var(--radius-medium);
    }
    .navbar
    {
        width: 100%;
        height: 130px;
        display: flex;
    }
    .navbar-group
    {
        width: 10%;
        top: 2rem;
        position: relative;
    }
    .navbar:hover
    {
        box-shadow: 2px 5px 30px rgba(104, 102, 102, 0.799);
    }
    .navbar-link
    {
        text-decoration: none;
        top:-2rem;
        right: 3.5rem;
        position: relative;
        margin-left: 8px;
        margin-right: 25px;
        white-space: nowrap;
    }
    .sections
    {
        width:100%;
        height:600px;
        /*display: flex;
        justify-content: space-around;
        align-items: stretch;*/
        display: grid;
        grid-template-columns: repeat(3,3fr);
        margin-bottom: 50rem;
    }
    .title
    {
        font-size:45px;
        /*top: 6rem; 
        right: 1.5rem;
        position: relative;*/
        white-space: nowrap;
    }
    .left-text
    {
        font-size: 35px;
        /*top:1rem;
        right:50rem;
        position: relative;*/
        margin-right: 28rem;
    }
    .left-text2
    {
        font-size: 35px;
        /*top:1rem;
        right:53rem;
        position: relative;*/
        margin-right: 76rem;
        white-space: nowrap;
    }
    .product
    {
        width:80%;
        height: 650px;
        border: 1px solid gray;
        border-radius: var(--radius-medium);
        /*box-sizing: border-box;*/
        display: flex;
        flex-direction: column;  
        align-items: center;
        margin-right: 0.5rem;
        margin-left: 9.5rem;
        margin-bottom: 2rem;
        padding: 1rem;
    }
    .product:hover
    {
        box-shadow: 10px 10px 10px rgba(121, 119, 119, 0.799);
    }
    .content-picture
    {
        width:85%;
        height:250px;
        object-fit: contain;
        margin-top:0;
        margin-bottom: 1rem;
        border-radius: var(--radius-medium);
    }
    .book-title{
        
        text-align:center;
        line-height: 1.6;
    }
    .price{
        margin-top: 10px;
        margin-left: 4rem;
        margin-right:3.3rem;
        white-space: nowrap;
    }
    .add-to-list
    {
        font-family: "Arad";
        font-size: large;
        margin-top: auto;
        /*position: relative;
        top: 2rem;
        right: 1.7rem;*/
        width: 70%;
        height: 70px;
        border-radius: var(--radius-medium);
    }
    .add-to-list:hover
    {
        background-color: green;
        width: 70%;
        margin-right:1rem;
    }
    .section2{
        width:100%;
        height:600px;
        /*display: flex;
        justify-content: space-around;
        align-items: stretch;*/
        display: grid;
        grid-template-columns: repeat(3,5fr);
        margin-bottom: 50rem;
    }
    .writers{
        width:100%;
        height: 650px;
        /*box-sizing: border-box;*/
        display: flex;
        flex-direction: column;  
        align-items: center;
        gap:3rem;
        margin-right: 0.5rem;
        margin-left: 15rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    .content-picture2{
        width:100%;
        height:280px;
        object-fit: contain;
        margin-top:1rem;
        border-radius: var(--radius-large);
    }
    .this-writer{
        white-space: nowrap;
        text-decoration: none;
        margin-top: 1rem;
    }
    .this-writer:hover{
        width: 75%;
        height: 5%;
        top: 1rem;
        background-color: lightgoldenrodyellow;
    }
    .cta
    {
        display: flex;
        justify-content:space-around;
        align-items: center;
        gap: 10rem;
        margin-bottom: 10rem;  
    }
    .cta-title1
    {
        position: absolute;
        top:383rem;
        right: 32rem;
        color: blue;
    }
    .cta-title2
    {
        position: absolute;
        top: 383rem;
        right: 62rem;
        color: blue;
    }
    .main-cta
    {
        width: 80%;
        height: 500px;
        border: 1px solid gray;
        border-radius: var(--radius-small);
        padding: 2rem;
        margin-right: 15rem;
        margin-top: 5rem;
    }
    .main-cta2
    {
        width: 80%;
        height: 500px;
        border: 1px solid gray;
        border-radius: var(--radius-small);
        padding: 2rem;
        margin-right: -5rem;
        margin-top: 5rem;
    }
    .buy-Subscription1{
        text-decoration: none;
        position: relative;
        top: 7rem;
        right: 0.2rem;
        color:green;
        white-space: nowrap;
    }
    .buy-Subscription2{
        text-decoration: none;
        position: relative;
        top: 7rem;
        right: 0.2rem;
        color:green;
        white-space: nowrap;
    }
    .first-row
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 7rem;
        margin-right: 12rem;
    }
    .footer-item
    {
        width: 300px;
        height: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .image-footer
    {
        width: 50%;
        height: 200px;
    }
    .second-row
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
        margin-right: 12rem;
    }
    .second-row-text
    {
        text-decoration: none; 
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 30rem;
        margin-right: 2rem;
        white-space: nowrap;
        text-align: right;
    }
    .line
    {
        width: 750px;
        margin-right: 23rem;
    }
    .footer-title
    {
        margin-right: 40rem;
        white-space: nowrap;
    }
    .third-row
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 5rem;
        margin-right: 400px;
    }
    .contact{
        width: 100px;
        
    }
}
/* ............................this is for desktop mede .......................*/            

@media(min-width:1024px)
{
    @font-face
    {
        font-family: "Arad";
        src: url(./font/AradVF.woff2)format("woff2");
    }
    body
    {
        font-family: "Arad";
        direction: rtl;
        font-size: xx-large;
        margin: 3rem;
    }
    .header{
        /*background-color: #D8C0B0;*/
        width: 100%;
    }
    .logo
    {
        width:30%;
    }
    .search-icon
    {
        width: 7%;
        height: 10%;
        top:12rem;
        right: 32rem;
        position: absolute;
    }
    .search-box
    {
        background-color: rgb(199, 219, 235);
        top:12rem;
        right:37rem;
        position: absolute;
        width:65%;
        height: 80px;
        border-radius: var(--radius-small);
    }
    /*.search-box:hover
    {
        width: 125vw;
        transition-duration: 1s;
        transition-timing-function: linear;
    }*/
    .profile
    {
        width: 8%;
        height: 10%;
        float: left;
        top: -3rem;
        left:9rem;
        position: relative;
    }
    .bag-shop
    {
        width: 8%;
        height: 10%;
        float: left;
        top: -3rem;
        left:3rem;
        position: relative;
    }
    .main-title{
    white-space: nowrap;
    margin-right: 28rem;
}
    .image-header
    {
        width: 1600px;
        height: 250px;
        object-fit: cover;
        border-radius: var(--radius-medium);
    }
    .navbar
    {
        width: 100%;
        height: 130px;
        display: flex;
    }
    .navbar-group
    {
        width: 10%;
        top: 2rem;
        position: relative;
    }
    .navbar:hover
    {
        box-shadow: 2px 5px 30px rgba(104, 102, 102, 0.799);
    }
    .navbar-link
    {
        text-decoration: none;
        top:-3rem;
        right: 6rem;
        position: relative;
        margin-left: 8px;
        margin-right: 40px;
        white-space: nowrap;
    }
    .sections
    {
        width:100%;
        height:600px;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        gap: 1rem;
        /*display: grid;
        grid-template-columns: repeat(3,5fr);*/
        margin-bottom: 2rem;
    }
    .title
    {
        font-size:larger;
        /*top: 6rem; 
        right: 1.5rem;
        position: relative;*/
        margin-right: 1rem;
        white-space: nowrap;
    }
    .left-text
    {
        font-size: larger;
        /*top:1rem;
        right:50rem;
        position: relative;*/
        margin-right: 40rem;
    }
    .left-text2
    {
        font-size: larger;
        /*top:1rem;
        right:53rem;
        position: relative;*/
        margin-right: 90rem;
        white-space: nowrap;
    }
    .product
    {
        width:28%;
        height: 650px;
        border: 1px solid gray;
        border-radius: var(--radius-medium);
        /*box-sizing: border-box;*/
        display: flex;
        flex-direction: column;  
        align-items: center;
        margin-right: 1rem;
        margin-left: -1rem;
        margin-bottom: 2rem;
        padding: 1rem;
    }
    .product:hover
    {
        box-shadow: 10px 10px 10px rgba(121, 119, 119, 0.799);
    }
    .content-picture
    {
        width:85%;
        height:250px;
        object-fit: contain;
        margin-top:0;
        margin-bottom: 1rem;
        border-radius: var(--radius-medium);
    }
    .book-title{
        
        text-align:center;
        line-height: 1.6;
    }
    .price{
        margin-top: 10px;
        margin-left: 3.5rem;
        white-space: nowrap;
    }
    .add-to-list
    {
        font-family: "Arad";
        font-size: 19px;
        margin-top: auto;
        /*position: relative;
        top: 2rem;
        right: 1.7rem;*/
        width: 100%;
        height: 70px;
        border-radius: var(--radius-medium);
        white-space: nowrap;
    }
    .add-to-list:hover
    {
        background-color: green;
        width: 70%;
        margin-right:1rem;
    }
    .section2{
        width:100%;
        height:600px;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        /*display: grid;
        grid-template-columns: repeat(3,5fr);*/
        margin-bottom: 2rem;
    }
    .writers{
        width:100%;
        height: 650px;
        /*box-sizing: border-box;*/
        display: flex;
        flex-direction: column;  
        align-items: center;
        gap:3rem;
        margin-right: 0.5rem;
        margin-left: 1rem;
        padding: 1rem;
    }
    .content-picture2{
        width:100%;
        height:280px;
        object-fit: contain;
        margin-top:1rem;
        border-radius: var(--radius-large);
    }
    .this-writer{
        text-decoration: none;
        margin-top: 1rem;
    }
    /*.this-writer:hover{
        width: 75%;
        height: 5%;
        top: 1rem;
        background-color: lightgoldenrodyellow;
    }*/
    .cta
    {
        display: flex;
        justify-content:space-around;
        align-items: center;
        gap: 2rem;
        margin-bottom: 10rem;  
        margin-right: -25rem;

    }
    .cta-title1
    {
        position: absolute;
        top:245rem;
        right: 34rem;
        color: blue;
    }
    .cta-title2
    {
        position: absolute;
        top: 245rem;
        right: 68rem;
        color: blue;
    }
    .main-cta
    {
        width: 30%;
        height: 500px;
        border: 1px solid gray;
        border-radius: var(--radius-small);
        padding: 2rem;
        margin-right: 50rem;
        margin-top: 5rem;
    }
    .main-cta2
    {
        width: 30%;
        height: 500px;
        border: 1px solid gray;
        border-radius: var(--radius-small);
        padding: 2rem;
        margin-right: 15rem;
        margin-top: 5rem;
    }
    .buy-Subscription1{
        text-decoration: none;
        position: relative;
        top:6rem;
        right: 0;
        color:green;
        white-space: nowrap;
    }
    .buy-Subscription2{
        text-decoration: none;
        position: relative;
        top:6rem;
        right: 0;
        color:green;
        white-space: nowrap;
    }
    .first-row
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 7rem;
        margin-right: 18rem;
    }
    .footer-item
    {
        width: 300px;
        height: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .image-footer
    {
        width: 50%;
        height: 200px;
    }
    .second-row
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0;
        margin-right: 17rem;
    }
    .second-row-text
    {
        text-decoration: none; 
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 30rem;
        margin-right: 2rem;
        white-space: nowrap;
        text-align: right;
    }
    .line
    {
        width: 750px;
        margin-right: 27rem;
    }
    .footer-title
    {
        margin-right: 46rem;
        white-space: nowrap;
    }
    .third-row
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-right: 33rem;
    }
    .contact{
        width: 90px;
        
    }
}