@font-face {
            font-family: "Arad";
            src: url(../font/AradVF.woff2)format("woff2");
                }
            body{
                direction: rtl;
                font-family: "Arad";
                margin: 30px;
                background-image: url(./photos/back-color.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            .header{
                width: 100%;
            }
            .nav{
                margin-right: 20px;
                direction: rtl;
            }
            a{
                text-decoration: none;
                margin-left: 30px;
            }
            .pic1{
                float: left;
                border-radius: 600px;
                margin-top: 1px;
            }
            .text{
                float: left;
                margin-bottom: 10px;
            }
            .section{
                margin-bottom: 10px;
            }
            .table{
                border: 1px solid black;
                border-collapse: collapse;
                width: 15%;
            }