@font-face {
        font-family: "Arad";
        src: url(./font/AradVF.woff2)format("woff2");
        }
body{
    font-family: "Arad";
    direction: rtl;
    font-size: xx-large;
    margin: 20px;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.header{
   /* background-color: lightblue; */
    width: 300vw;
}
.logo{
    /*margin-right: 1.5rem;*/
    width:70vw;
}
.search-icon{
    top:7rem;
    right:20rem;
    position: absolute;
}
.search-box{
    background-color: lightgray;
    top:8rem;
    right:26rem;
    position: absolute;
    width:120vw;
    height: 8vh;
    border-radius: 8px;
}
.profile{
    float: left;
    top: -16rem;
    left: 8rem;
    position: relative;
}
.bag-shop{
    float: left;
    top: -16rem;
    left:-1rem;
    position: relative;
}
.image-header{
    margin-right: 1rem;
}
.navbar:hover{
    box-shadow: 2px 5px 30px rgba(104, 102, 102, 0.799);
}
.navbar-link{
    text-decoration: none;
    top:-2rem;
    position: relative;
    border-left: 1px solid gray;
    margin-left: 4px;
    margin-right: 4px;
}
.sections{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    /*position: relative;*/
}
.title{
    font-size:larger;
}
.left-text{
    font-size: larger;
    top:40px;
    right:800px;
    position: relative;
}
.product{
    border: 1px solid gray;
    width: 80vw;
    height: 100vh;
    border-radius: 7px;
    /*padding-right: 35px;
    padding-top: 25px;*/
}
.product:hover{
    box-shadow: 10px 10px 10px rgba(121, 119, 119, 0.799);
}
.content-picture{
    width:80vw;
    height:50vh ;
}
.add-to-list{
    background-color: lightcyan;
    font-family: "Arad";
    font-size: large;
    margin-top: 8rem;
    margin-right:1.4rem;
    width: 65vw;
    height: 10vh;
    border-radius: 7px;
}
.add-to-list:hover{
    background-color: green;
    width: 70vw;
    margin-right:1rem;
}
.footer{
    /*display: grid;
    grid-template-columns: repeat(3,1fr);*/
    
}
.first-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
    
}
.footer-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image-footer{
    width: 50vw;
    height: 30vh;
}
.second.row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
}
.third-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
}



/*.favorite{
    width: 12vw;
    height: 8vh;
}*/